body {
  padding: 0;
  margin: 0;
}

.nav {
  position: absolute;
  top: 0;
  left: 5px;
  bottom: 0;
  width: 300px;
}

div .background {
  position: absolute;
  top: 0;
  left: -12px;
  bottom: 0;
  width: 300px;
  background-color: #2a4060;
}

.button {
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 7px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: transparent;
}

.ul,
.li {
  margin: 0;
  padding: 0;
}

.ul {
  padding: 25px;
  position: absolute;
  top: 80px;
  width: 230px;
}

.li {
    
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  color: white;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}