/* font-family: 'Roboto Condensed', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: rgb(81, 255, 0);
  background-color: transparent;
}

body {
  font-family: 'Roboto Condensed';
}

.active {
  color: aqua;
}